<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Recibo</a></li>
    <li class="breadcrumb-item active" aria-current="page">Recepción de Combustible</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Viajes por Recibir</h4>
        <p class="text-muted">Sección dedicada para el visualizar los viajes por recibir en el sistema.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-7">
            <h6 class="card-title">Tablero de Viajes por Recibir</h6>
          </div>
          <!-- <div class="col-5">
            <div class="row">
              <label class="form-label col-sm-5 col-form-label text-end">Fecha de Recepción</label>
              <div class="col-sm-7">
                <input type="text" class="form-control form-control-sm" value=" 16 - Abr - 2022">
              </div>
            </div>

          </div> -->
        </div>

        <div class="table-responsive my-5">
          <!--         <table class="table table-bordered">
            <thead>
              <tr>
                <th>Folio</th>
                <th>Folio Venta</th>
                <th>No. Factura</th>
                <th>Fecha Envío</th>
                <th>Código</th>
                <th>Artículo</th>
                <th>Descripción</th>
                <th>Unidad</th>
                <th>C. Enviada</th>
                <th>C. Recibida</th>
              </tr>
            </thead>
            
          </table> -->

          <input type='text' matInput placeholder='Buscar' (keyup)='filterDatatable($event)'
            [(ngModel)]="valueBuscador">
          <ngx-datatable class="material shadow-none striped table table-bordered" [rows]="data" [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10"
            [scrollbarH]="true">
            <ngx-datatable-column name="Folio" prop="nCompra" [width]="80"></ngx-datatable-column>
            <ngx-datatable-column name="Mercado" prop="cTipoCompraLarga" [width]="110"></ngx-datatable-column>
            <ngx-datatable-column name="Comprador" prop="cEmpresa"></ngx-datatable-column>
            <ngx-datatable-column name="Almacén destino" prop="cAlmacen"></ngx-datatable-column>
            <ngx-datatable-column name="Proveedor" prop="cProveedor"></ngx-datatable-column>
            <ngx-datatable-column name="Nro.Factura" prop="cFactura" [width]="110"></ngx-datatable-column>
            <ngx-datatable-column name="Fecha de compra" prop="dFechaCompra" [width]="120">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | date: 'dd/MM/yyyy'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Costo x lt" prop="nCostoxLitro"[width]="100">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | currency}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Litros comprados" prop="nlitrosComprados" [width]="120">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | number : '1.2-2'}}
              </ng-template>
            </ngx-datatable-column>
          
            <ngx-datatable-column name="Litros recibidos" prop="nLitrosRecibidos" [width]="120">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | number : '1.2-2'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Costo total" prop="nCostoTotal"[width]="120">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | currency}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Costo total" prop="nCostoTotal"[width]="120">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | currency}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Estatus" prop="nEstatus"[width]="150">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >                          
              <select class="form-control form-control-sm" style="z-index:1000"  [(ngModel)]="row.nEstatus" [disabled]="row.nEstatus === 3">
              <option [value]="'1'">En Tránsito</option>
              <option [value]="'2'">En Aduana</option>
              <option [value]="'3'">Recibido</option>
              <option [value]="'4'">Cancelado</option>
              </select>
            </ng-template>
          </ngx-datatable-column>
            <!--  <ngx-datatable-column name="Persona física" prop="bPersonaFisica" ></ngx-datatable-column>
-->

          </ngx-datatable>
        </div>

        <div class="d-flex justify-content-end my-4">
          <button type="button" class="btn btn-dark mx-2">Cancelar</button>
          <button type="button" class="btn btn-primary mx-2">Registrar</button>
        </div>
      </div>
    </div>
  </div>
</div>