<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Recibo</a></li>
    <li class="breadcrumb-item active" aria-current="page">Recepción de Combustible</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<!-- <div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Viajes por Recibir</h4>
        <p class="text-muted">Sección dedicada para el visualizar los viajes por recibir en el sistema.</p>
      </div>
    </div>
  </div>
</div> -->

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-7">
            <h6 class="card-title">Tablero de Viajes por Recibir</h6>
          </div>
          <!-- <div class="col-5">
            <div class="row">
              <label class="form-label col-sm-5 col-form-label text-end">Fecha de Recepción</label>
              <div class="col-sm-7">
                <input type="text" class="form-control form-control-sm" value=" 16 - Abr - 2022">
              </div>
            </div>

          </div> -->
        </div>

        <div class="table-responsive my-5">
          <!--         <table class="table table-bordered">
            <thead>
              <tr>
                <th>Folio</th>
                <th>Folio Venta</th>
                <th>No. Factura</th>
                <th>Fecha Envío</th>
                <th>Código</th>
                <th>Artículo</th>
                <th>Descripción</th>
                <th>Unidad</th>
                <th>C. Enviada</th>
                <th>C. Recibida</th>
              </tr>
            </thead>

          </table> -->

          <input type='text' matInput placeholder='Buscar' (keyup)='filterDatatable($event)'
            [(ngModel)]="valueBuscador">

          <label *ngFor="let m of estatus;let i=index" style="padding: 10px;">
            <b> {{ m.cEstatus }} </b>
            <input type="checkbox" [checked]="m.status" [(ngModel)]="m.status"
              (change)="changeStatus(m.nEstatus,$event)">
          </label>

          <ngx-datatable class="material shadow-none striped table table-bordered" [rows]="data"
            [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="10" [scrollbarH]="true"
            [sorts]="[{prop: 'dFechaCompra', dir: 'asc'},{prop: 'cEmpresa', dir: 'asc'},{prop: 'cProveedor', dir: 'asc'},{prop: 'cArticulo', dir: 'asc'}]">
            <ngx-datatable-column name="Mercado" prop="cTipoCompraLarga" [width]="120"></ngx-datatable-column>
            <ngx-datatable-column name="Comprador" prop="cEmpresa"></ngx-datatable-column>
            <ngx-datatable-column name="Almacén destino" prop="cAlmacen"></ngx-datatable-column>
            <ngx-datatable-column name="Proveedor" prop="cProveedor"></ngx-datatable-column>
            <ngx-datatable-column name="Artículo" prop="cArticulo" [width]="110"></ngx-datatable-column>
            <ngx-datatable-column name="Nro.Factura" prop="cFactura" [width]="110"></ngx-datatable-column>
            <ngx-datatable-column name="Fecha de compra" prop="dFechaCompra" [width]="120">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Fecha de recepción" prop="dFechaRecepcion" [width]="130">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Costo x lt" prop="nCostoxLitro" [width]="100">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | currency}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Litros comprados" prop="nlitrosComprados" [width]="130">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | number : '1.2-2'}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Litros recibidos" prop="nLitrosRecibidos" [width]="120">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | number : '1.2-2'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Costo total" prop="nCostoTotal" [width]="150">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{value | currency}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Estatus" prop="nEstatus" [width]="150">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <select class="form-control form-control-sm" style="z-index:1000" [(ngModel)]="row.nEstatus"
                  [disabled]="row.nEstatus === 3 || row.nEstatus === 4" (change)="onChange(row)">
                  <option *ngFor="let banco of estatus" value="{{ banco.nEstatus }}"> {{ banco.cEstatus }}
                  </option>
                </select>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Motivo de cancelación" prop="cMotivoCancelacion"></ngx-datatable-column>
            <!--  <ngx-datatable-column name="Persona física" prop="bPersonaFisica" ></ngx-datatable-column>
-->
          </ngx-datatable>
        </div>

        <!-- <div class="d-flex justify-content-end my-4">
          <button type="button" class="btn btn-dark mx-2">Cancelar</button>
          <button type="button" class="btn btn-primary mx-2">Registrar</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
