<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Compras</a></li>
    <li class="breadcrumb-item active" aria-current="page">Registro de Compra Nacional</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Compra Nacional (Ticket de carga)</h4>
        <p class="text-muted">Sección dedicada para el registro de nuevas compras a nivel nacional en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Registro de Compra Nacional</h6>
        <form name="form" [formGroup]="form" >
            <div class="row mt-4">
              <div class="col-sm-6">
                <h5><span class="badge bg-primary">Captura de datos generales de la Guía</span></h5>

                <div class="row mt-4">
                  <label class="form-label col-sm-5 col-form-label text-end">Folio</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="nCompra">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Comprador</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" formControlName="cEmpresa"
                      [ngClass]="{'has-error': form.get('cEmpresa')?.hasError('required')}"
                      >
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search" (click)="openModalEmpresas()"></i>
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Almacen entrada</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" formControlName="cAlmacen"
                      [ngClass]="{'has-error': form.get('cAlmacen')?.hasError('required')}"
                      >
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search" (click)="openModalAlmacenes()"></i>
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Proveedor entrada</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" formControlName="cProveedor"
                      [ngClass]="{'has-error': form.get('cProveedor')?.hasError('required')}"
                      >
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search" (click)="openModalProveedores()"></i>
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">No. factura</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="cFactura"
                    [ngClass]="{'has-error': form.get('cFactura')?.hasError('required')}"
                    >
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Fecha de factura</label>
                  <div class="col-sm-7">
                    <input type="date" class="form-control form-control-sm" placeholder="" formControlName="dFechaFactura"
                    [ngClass]="{'has-error': form.get('dFechaFactura')?.hasError('required')}"
                    >
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Compañía transportista</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" formControlName="cFletera"
                      [ngClass]="{'has-error': form.get('cFletera')?.hasError('required')}"
                      >
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search" (click)="openModalFleteras()"></i>
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Número de trailer</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="cNumeroTrailer"
                    [ngClass]="{'has-error': form.get('cNumeroTrailer')?.hasError('required')}"
                    >
                  </div>                  

                  <label class="form-label col-sm-5 col-form-label text-end">Nombre del chofer</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" formControlName="cChofer"
                      [ngClass]="{'has-error': form.get('cChofer')?.hasError('required')}"
                      >
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search" (click)="openModalChoferes()"></i>
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-4 col-form-label text-end">Fuller 1</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="cFuller1">
                  </div> 
                  <label class="form-label col-sm-2 col-form-label text-end">Sellos 1</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="cSellos1">
                  </div>                  

                  <label class="form-label col-sm-4 col-form-label text-end">Fuller 2</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="cFuller2">
                  </div> 
                  <label class="form-label col-sm-2 col-form-label text-end">Sellos 2</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="cSellos2">
                  </div>      
                  
                  
                  <label class="form-label col-sm-5 col-form-label text-end">Producto</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" formControlName="cArticulo"
                      [ngClass]="{'has-error': form.get('cArticulo')?.hasError('required')}"
                      >
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search" (click)="openModalArticulos();"></i>
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Volúmen en litros</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="nLitrosCompra"
                    [ngClass]="{'has-error': form.get('nLitrosCompra')?.hasError('required')}"
                    >
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Costo por litro en pesos</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="nTipoCambio"
                    [ngClass]="{'has-error': form.get('nTipoCambio')?.hasError('required')}"
                    >
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Costo total en pesos</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="nCostoTotal"
                    [ngClass]="{'has-error': form.get('nCostoTotal')?.hasError('required')}"
                    >
                  </div>


                </div>
              </div>

              <div class="col-sm-1"></div>

              <div class="col-sm-5">
                <h5><span class="badge bg-primary">Captura de costos indirectos</span></h5>

                <div class="row mt-4">
                  <label class="form-label col-sm-5 col-form-label text-end">Costo por flete</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="nCostoFlete"
                    [ngClass]="{'has-error': form.get('nCostoFlete')?.hasError('required')}"
                    >
                  </div>

                  <hr class="my-3"> 

                  <label class="form-label col-sm-7 col-form-label text-end">Costo final por litro en pesos</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="">
                  </div>

                </div>
              </div>
            </div>

          </form>
          <div class="d-flex justify-content-end my-4">
            <button type="button" class="btn btn-warning mx-2" (click)="limpiar()">Limpiar</button>
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
              <button type="button" class="btn btn-primary mx-2" (click)="guardar()">Guardar</button>
          </div>
      </div>
    </div>
  </div>
</div>