<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Compras</a></li>
    <li class="breadcrumb-item active" aria-current="page">Registro de Compra Importada</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Compra Importada</h4>
        <p class="text-muted">Sección dedicada para el registro de nuevas compras importadas en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Registro de Compra Importada</h6>
          <form>

            <h5><span class="badge bg-primary mt-4">Captura de datos generales de la Guía</span></h5>

            <div class="row mt-4">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Folio</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">TMF TTicket #</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Almacen Entrada</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Proveedor Entrada</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">No. Factura</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Fecha de Factura</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Compañía Transportista</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Número de Taller</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Placas de Taller</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Nombre del Chofer</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Fuller 1</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Sellos 1</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Fuller 2</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Sellos 2</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Producto</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Volúmen en (galones)</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Volúmen en Litros</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>

            <h5><span class="badge bg-primary mt-4">Captura de costos por galón</span></h5>

            <div class="row mt-4">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Costo por Galón en Dólares</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Costo Total en Dólares</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Costo Total en Pesos</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Costo por Litro en Pesos</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>

            <h5><span class="badge bg-primary mt-4">Captura de costos indirectos</span></h5>

            <div class="row mt-4">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Costo por Cruce</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Costo Factura</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Costo por Flete</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Costo Final por Litro en Pesos</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>

          </form>
          <div class="d-flex justify-content-center my-4">
            <button type="button" class="btn btn-warning mx-2">Limpiar</button>
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
              <button type="button" class="btn btn-primary mx-2">Guardar</button>
          </div>
      </div>
    </div>
  </div>
</div>