<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Venta</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ticket de Entrega de Producto</li>
  </ol>
</nav>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Ticket de Entrega de Producto</h6>
        <form [formGroup]="form">

          <div class="row">
            <div class="col-sm-6">
              <div class="row mb-3">
                <label class="form-label col-sm-3 col-form-label text-end">Folio</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" placeholder="" formControlName="nVenta">
                </div>
              </div>
            </div>

            <!-- <div class="col-sm-5">
              <div class="row mb-3">
                <label class="form-label col-sm-5 col-form-label text-end">Folio venta</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="" formControlName="cFolioExterno">
                </div>
              </div>
            </div> -->

            <div class="col-sm-6">
              <div class="row mb-3">
                <label class="form-label col-sm-3 col-form-label text-end">Fecha</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control form-control-sm" placeholder="" formControlName="dFechaVenta" max="{{maxDate | date:'yyyy-MM-dd'}}"
                  [ngClass]="{'has-error': form.get('dFechaVenta')?.hasError('required')}"
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">

              <div class="row">

                <label class="form-label col-sm-3 col-form-label text-end">Origen</label>
                <div class="col-sm-9">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm" formControlName="cOrigen"
                    [ngClass]="{'has-error': form.get('nOrigen')?.hasError('required')}"
                    >
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search" (click)="openModalEmpresas(1)"></i>
                    </span>
                  </div>
                </div>
                <label class="form-label col-sm-3 col-form-label text-end">Vendedor</label>
                <div class="col-sm-9">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm" formControlName="cVendedor"
                    [ngClass]="{'has-error': form.get('nVendedor')?.hasError('required')}"
                    >
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search" (click)="openModalVendedores()"></i>
                    </span>
                  </div>
                </div>
                <label class="form-label col-sm-3 col-form-label text-end">Chofer</label>
                <div class="col-sm-9">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm" formControlName="cChofer"
                    [ngClass]="{'has-error': form.get('nChofer')?.hasError('required')}"
                    >
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search" (click)="openModalChoferes()"></i>
                    </span>
                  </div>
                </div>
                <label class="form-label col-sm-3 col-form-label text-end">Equipo</label>
                <div class="col-sm-9">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm" formControlName="cEquipo"
                    [ngClass]="{'has-error': form.get('cEquipo')?.hasError('required')}"
                    >
                    <!-- <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search"></i>
                    </span> -->
                  </div>
                </div>


                <label class="form-label col-sm-3 col-form-label text-end">Placa</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" placeholder="" formControlName="cPlaca"
                  [ngClass]="{'has-error': form.get('cPlaca')?.hasError('required')}"
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="row">

                <label class="form-label col-sm-3 col-form-label text-end">Destino</label>
                <div class="col-sm-9">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm" formControlName="cDestino"
                    [ngClass]="{'has-error': form.get('nDestino')?.hasError('required')}"
                    >
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search" (click)="openModalClientes()"></i>
                    </span>
                  </div>
                </div>

                <label class="form-label col-sm-3 col-form-label text-end">Encargado</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" placeholder="" formControlName="cEncargado"
                  [ngClass]="{'has-error': form.get('cEncargado')?.hasError('required')}"
                  >
                </div>

              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-sm-6">

              <div class="row">

                <label class="form-label col-sm-3 col-form-label text-end">Producto</label>
                <div class="col-sm-9">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm" formControlName="cArticulo"
                    [ngClass]="{'has-error': form.get('nArticulo')?.hasError('required')}"
                    >
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search" (click)="openModalArticulos()"></i>
                    </span>
                  </div>
                </div>

                <label class="form-label col-sm-3 col-form-label text-end">Cantidad Env (lts)</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm text-end" placeholder="" formControlName="nCantidadEnviada"
                  appDecimales4
                  onfocus="this.select()"
                  (blur)="calcularTotal(); this.form.get('nCantidadRecibida')?.setValue(this.form.get('nCantidadEnviada')?.value);"
                  [ngClass]="{'has-error': form.get('nCantidadEnviada')?.hasError('required')}"
                >
                </div>

                <label class="form-label col-sm-3 col-form-label text-end">Cantidad Rec (lts)</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm text-end" placeholder="" formControlName="nCantidadRecibida"
                  appDecimales4
                  onfocus="this.select()"
                  [ngClass]="{'has-error': form.get('nCantidadRecibida')?.hasError('required')}"
                  >
                </div>

                <label class="form-label col-sm-3 col-form-label text-end">Costo litro</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm text-end" placeholder="" formControlName="nCostoLitro"
                  appDecimales4
                  onfocus="this.select()"
                  (blur)="calcularTotal()"
                  [ngClass]="{'has-error': form.get('nCostoLitro')?.hasError('required')}"
                  >
                </div>

                <label class="form-label col-sm-3 col-form-label text-end">Total a pagar</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" placeholder="" formControlName="nTotal"
                  currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 4 }"
                  >
                </div>

                <label class="form-label col-sm-3 col-form-label text-end">Anticipo</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm text-end" placeholder="" formControlName="nAnticipo"
                  appDecimales4
                  onfocus="this.select()"
                  [ngClass]="{'has-error': form.get('nAnticipo')?.hasError('required')}"
                  >
                </div>

                <label class="form-label col-sm-3 col-form-label text-end">Forma de pago</label>
                <div class="col-sm-9">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm" formControlName="cFormaPago"
                    [ngClass]="{'has-error': form.get('nFormaPago')?.hasError('required')}"
                    >
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search" (click)="openModalFormasPago()"></i>
                    </span>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-sm-6">
              <div class="row">
                <label class="form-label col-sm-3 col-form-label text-end">Observaciones</label>
                <div class="col-sm-9">
                  <textarea class="form-control form-control-sm" formControlName="cObservaciones" [rows]="5" [maxLength]="1000">

                  </textarea>
                </div>

                <div class="d-flex justify-content-end my-4">
                  <button type="button" class="btn btn-warning mx-2" (click)="limpiar()">Limpiar</button>
                  <!-- <button type="button" class="btn btn-warning mx-2" (click)="imprimir()">Imprimir</button> -->
                  <!-- <button type="button" class="btn btn-dark mx-2">Cancelar</button> -->
                  <button type="button" class="btn btn-primary mx-2" [disabled]="form.invalid"  (click)="guardar()">Guardar</button>
                </div>

              </div>
            </div>
          </div>

        </form>


        <div class="table-responsive my-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Vendedor</th>
                <th>Chofer</th>
                <th>Equipo</th>
                <th>Placa</th>
                <th>Producto</th>
                <th>Cant. enviada</th>
                <th>Cant. recibida</th>
                <th>Costo litro</th>
                <th>Valor</th>
                <th>Anticipo</th>
                <th>Saldo</th>
                <th>Forma de pago</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ventas">
                <td>{{ item.nVenta }}</td>
                <td>{{ item.cFechaVenta }}</td>
                <td>{{ item.cOrigen }}</td>
                <td>{{ item.cDestino }}</td>
                <td>{{ item.cVendedor }}</td>
                <td>{{ item.cChofer }}</td>
                <td>{{ item.cEquipo }}</td>
                <td>{{ item.cPlaca }}</td>
                <td>{{ item.cArticulo }}</td>
                <td class="text-end">{{ item.nCantidadEnviada | number : '1.2-2' }}</td>
                <td class="text-end">{{ item.nCantidadRecibida | number : '1.2-2' }}</td>
                <td class="text-end">{{ item.nCostoLitro | currency }}</td>
                <td class="text-end">{{ item.nTotal | currency }}</td>
                <td class="text-end">{{ item.nAnticipo | currency }}</td>
                <td class="text-end">{{ item.nTotal - item.nAnticipo | currency }}</td>
                <td>{{ item.cFormaPago }}</td>
              </tr>

            </tbody>
            <!-- <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>TOTALES :</b></td>
                <td class="text-end"><b>{{ nTotalEnviada | number : '1.2-2' }}</b></td>
                <td class="text-end"><b>{{ nTotalRecibida | number : '1.2-2' }}</b></td>
                <td class="text-end"></td>
                <td class="text-end"><b>{{ nTotalGlobal | currency }}</b></td>
                <td class="text-end"></td>
                <td class="text-end"></td>
                <td></td>
              </tr>
            </tfoot> -->
          </table>
        </div>

       
      </div>
    </div>
  </div>
</div>
