<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Configuración General</a></li>
    <li class="breadcrumb-item active" aria-current="page">Clientes</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Clientes</h4>
        <p class="text-muted">Sección dedicada para el registro de nuevos clientes en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Clientes</h6>
          <form>

            <div class="my-4">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-check form-check mb-3">
                    <input type="radio" class="form-check-input" name="radioInline" id="radioInline" checked>
                    <label class="form-check-label" for="radioInline">
                      Fisica
                    </label>
                  </div>
                  <div class="form-check form-check">
                    <input type="radio" class="form-check-input" name="radioInline" id="radioInline1">
                    <label class="form-check-label" for="radioInline1">
                      Moral
                    </label>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="row">
                    <div class="mb-3">
                      <label class="form-label">Razón Social</label>
                      <input type="text" class="form-control form-control-sm" value="Cuauthemoc Ernesto Alva Vazquez">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Cliente(s)</label>
                  <input type="text" class="form-control form-control-sm" value="Cuauthemoc">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Apellido Paterno</label>
                  <input type="text" class="form-control form-control-sm" value="Alva">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Apellido Meterno</label>
                  <input type="text" class="form-control form-control-sm" value="Vazquez">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Sexo</label>
                  <input type="text" class="form-control form-control-sm" value="Masculino">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Fecha de Nacimiento</label>
                  <input type="text" class="form-control form-control-sm" value="21 - Ene - 1988">
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Pais</label>
                  <input type="text" class="form-control form-control-sm" value="Mexico">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Estado</label>
                  <input type="text" class="form-control form-control-sm" value="Sonora">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Municipio</label>
                  <input type="text" class="form-control form-control-sm" value="Mexicali">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">CURP</label>
                  <input type="text" class="form-control form-control-sm" value="AAVC76119HQTZXO">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">RFC</label>
                  <input type="text" class="form-control form-control-sm" value="AAVC76119HQ">
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Dirección</label>
                  <input type="text" class="form-control form-control-sm" value="Los Rincones">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">N. Exterior</label>
                  <input type="text" class="form-control form-control-sm" value="120">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">N. Interior</label>
                  <input type="text" class="form-control form-control-sm" value="P-201">
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Colonia</label>
                  <input type="text" class="form-control form-control-sm" value="Guadalupe">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">CP</label>
                  <input type="text" class="form-control form-control-sm" value="12050">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Telefono</label>
                  <input type="text" class="form-control form-control-sm" value="7152036">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Celular</label>
                  <input type="text" class="form-control form-control-sm" value="6952321032">
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Correo</label>
                  <input type="text" class="form-control form-control-sm" value="soporte@hidrocarburos.com">
                </div>
              </div>
            </div>

          </form>
          <div class="d-flex justify-content-center my-4">
            <button type="button" class="btn btn-warning mx-2">Limpiar</button>
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
              <button type="button" class="btn btn-primary mx-2">Guardar</button>
          </div>
      </div>
    </div>
  </div>
</div>