<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Configuración General</a></li>
    <li class="breadcrumb-item active" aria-current="page">Clientes</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Clientes</h4>
        <p class="text-muted">Sección dedicada para el registro de nuevos clientes en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Clientes</h6>
          <form [formGroup]="form">

            <div class="my-4">
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="nTipoFisica" checked formControlName="nTipo" [value]="1" (change)="cambiarPersonaFisica()">
                <label class="form-check-label" for="radioInline">
                  Fisica
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="nTipoMoral" formControlName="nTipo" [value]="2" (change)="cambiarPersonaMoral()">
                <label class="form-check-label" for="radioInline1">
                  Moral
                </label>
              </div>

              <!-- <p class="error p-0 mt-1 mb-1"
                *ngIf="form.get('nTipo')?.hasError('required')">
                  *Obligatorio.
              </p> -->
            </div>

            <div class="my-4">
              <div class="row">
                <div class="col-sm-3">
                  <div class="row">
                    <label class="form-label col-sm-3 col-form-label text-end">Folio</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                      <input type="text" class="form-control form-control-sm" placeholder="" formControlName="nCliente">
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search" (click)="openModal()"></i>
                      </span>
                    </div>
                    </div>
                  </div>
                </div>

                
              </div>
            </div>


            <div class="card">

              <div class="card-header">
                <strong>Datos generales</strong>
              </div>
              <div class="card-body">



            <div class="row">

              <!-- <div class="col">
                <div class="mb-3">
                  <label class="form-label">CURP</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cCURP" maxlength="18">
                  <p class="error p-0 mt-1 mb-1"
                  *ngIf="form.get('cCURP')?.hasError('pattern')">
                    El campo no es un CURP válido.
                  </p>
                  <p class="error p-0 mt-1 mb-1"
                    *ngIf="form.get('cCURP')?.hasError('required')">
                      *Obligatorio.
                  </p>
                </div>
              </div> -->

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">RFC</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cRFC" maxlength="13"
                  [ngClass]="{'has-error': form.get('cRFC')?.hasError('required')}"
                  >
                  <p class="error p-0 mt-1 mb-1"
                      *ngIf="form.get('cRFC')?.hasError('pattern')">
                        El campo no es un RFC válido.
                    </p>
               
                </div>
              </div>

              <div class="col col-md-9" *ngIf="this.nTipo === 2">
                
                  <label class="form-label">Nombre / Razon Social</label>
                 
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="cRazonSocial" maxlength="100"
                    [ngClass]="{'has-error': form.get('cRazonSocial')?.hasError('required')}"
                    >
                    
                  
                
              </div>

            

              <div class="col" *ngIf="this.nTipo === 1 ">
                <div class="mb-3">
                  <label class="form-label">Nombre(s)</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cNombre" maxlength="45"
                  [ngClass]="{'has-error': form.get('cNombre')?.hasError('required')}"
                  >
                  
                </div>
              </div>

              <div class="col" *ngIf="this.nTipo === 1 ">
                <div class="mb-3">
                  <label class="form-label">Apellido paterno</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cApellidoPaterno" maxlength="45"
                  [ngClass]="{'has-error': form.get('cApellidoPaterno')?.hasError('required')}"
                  >
                 
                </div>
              </div>

              <div class="col" *ngIf="this.nTipo === 1 ">
                <div class="mb-3">
                  <label class="form-label">Apellido materno</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cApellidoMaterno" maxlength="45"
                  [ngClass]="{'has-error': form.get('cApellidoMaterno')?.hasError('required')}"
                  >
                  
                </div>
              </div>

              <div class="col" *ngIf="this.nTipo === 1 ">
                <div class="mb-3">
                  <label class="form-label">Sexo</label>
                  <select class="form-control form-control-sm" formControlName="cSexo"
                  [ngClass]="{'has-error': form.get('cSexo')?.hasError('required')}"
                  >
                    <option [value]="''">Seleccione ...</option>
                    <option [value]="'M'">Masculino</option>
                    <option [value]="'F'">Femenino</option>
                  </select>
                 
                </div>
              </div>

              <!-- <div class="col">
                <div class="mb-3">
                  <label class="form-label">Fecha de nacimiento</label>
                  <input type="date" class="form-control form-control-sm" formControlName="dFechaNacimiento">
                  <p class="error p-0 mt-1 mb-1"
                      *ngIf="form.get('dFechaNacimiento')?.hasError('required')">
                        *Obligatorio.
                  </p>
                </div>
              </div> -->
            </div>

          </div>

          </div>

          <div class="card">

            <div class="card-header">
             <strong>Domicilio</strong>
            </div>
            <div class="card-body">


            <div class="row">

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Código postal</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cCodigoPostal" maxlength="5"
                  [ngClass]="{'has-error': form.get('cCodigoPostal')?.hasError('required')}">
                  <p class="error p-0 mt-1 mb-1"
                      *ngIf="form.get('cCodigoPostal')?.hasError('pattern')">
                        El campo no es un código postal válido.
                    </p>
               
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Municipio</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cMunicipio" maxlength="45"
                  [ngClass]="{'has-error': form.get('cMunicipio')?.hasError('required')}">
                  

                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Estado</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cEstado" maxlength="45"
                  [ngClass]="{'has-error': form.get('cEstado')?.hasError('required')}">
                  
                
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Pais</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cPais" maxlength="45"
                  [ngClass]="{'has-error': form.get('cPais')?.hasError('required')}"
                  >
                
                </div>
              </div>






            </div>

            <div class="row">

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Colonia</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cColonia" maxlength="45">
                
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Dirección</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cDireccion" maxlength="100"
                  [ngClass]="{'has-error': form.get('cDireccion')?.hasError('required')}"
                  >
                 
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">N. Exterior</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cNumeroExterior" maxlength="45"
                  [ngClass]="{'has-error': form.get('cNumeroExterior')?.hasError('required')}"
                  >
                 
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">N. Interior</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cNumeroInterior" maxlength="45">
                 
                </div>
              </div>
            </div>

            </div>
            </div>

            <div class="card">

              <div class="card-header">
               <strong>Datos de contacto</strong>
              </div>
              <div class="card-body">

            <div class="row">

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Teléfono</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cTelefono" maxlength="10">
                  <p class="error p-0 mt-1 mb-1"
                  *ngIf="form.get('cTelefono')?.hasError('pattern')">
                    El campo no es un teléfono válido a 10 dígitos.
                  </p>
                  
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Celular</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cCelular" maxlength="10">
                  <p class="error p-0 mt-1 mb-1"
                  *ngIf="form.get('cCelular')?.hasError('pattern')">
                    El campo no es un celular válido a 10 dígitos.
                  </p>
                 
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Correo electrónico</label>
                  <input type="text" class="form-control form-control-sm" formControlName="cCorreoElectronico" maxlength="100">
                  <p class="error p-0 mt-1 mb-1"
                  *ngIf="form.get('cCorreoElectronico')?.hasError('email')">
                    El campo no es un correo electrónico válido.
                  </p>
                  
                </div>
              </div>
            </div>

            </div>
            </div>

            <div class="card">

              <div class="card-header">
               <strong>Datos de facturación</strong>
              </div>
              <div class="card-body">

            <div class="row">

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Regimen fiscal:</label>
                  <select class="form-control form-control-sm" formControlName="cRegimen">
                    <option [value]="''">Seleccione ...</option>
                    <option *ngFor="let item of this.regimenes" [ngValue]="item">{{ item.cDescripcion }}</option>
                  </select>
                  
                </div>
              </div>

              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Uso CFDI</label>
                  <select class="form-control form-control-sm" formControlName="cUso">
                    <option [value]="''">Seleccione ...</option>
                    <option *ngFor="let item of this.usos" [ngValue]="item">{{ item.cDescripcion }}</option>
                  </select>
                 
                </div>
              </div>


            </div>

            </div>
            </div>

          </form>
          <div class="d-flex justify-content-center my-4">
            <button type="button" class="btn btn-warning mx-2" (click)="limpiar()">Limpiar</button>
              <button *ngIf="this.nCliente > 0"  type="button" class="btn btn-danger mx-2" (click)="eliminar()" >Eliminar</button>
              <button type="button" class="btn btn-primary mx-2" [disabled]="form.invalid" (click)="guardar()">Guardar</button>
          </div>
      </div>
    </div>
  </div>
</div>
