<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Configuración General</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sucursales</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Sucursales</h4>
        <p class="text-muted">Sección dedicada para el registro de nuevas Sucursales en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Sucursales</h6>
          <form>

            <div class="row mt-4">
              <div class="col-sm-4">
                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Folio</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Descripción</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Plaza</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">CP</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Pais</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Estado</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Municipio</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Ciudad</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Colonia</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>
            
                </div>
              </div>
            
              <div class="col-sm-2"></div>
            
              <div class="col-sm-4">
                <div class="row">
            
                  <label class="form-label col-sm-5 col-form-label text-end">Dirección</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Teléfono</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Correo</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Encargado</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Cliente</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Almacen</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="d-flex justify-content-end my-4">
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
              <button type="button" class="btn btn-primary mx-2">Guardar</button>
          </div>
      </div>
    </div>
  </div>
</div>