<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Inventarios</a></li>
    <li class="breadcrumb-item active" aria-current="page">Movimientos de Inventarios</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<!-- <div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Consultas de Movimientos de Inventarios</h4>
        <p class="text-muted">Sección dedicada para la consulta de Movimientos de Inventarios en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div> -->

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Consultas de Movimientos de Inventarios</h6>
        <form name="form" [formGroup]="form">

          <div class="row mt-4">
            <div class="col-sm-5">
              <div class="row">

                <label class="form-label col-sm-5 col-form-label text-end">Folio</label>
                <div class="col-sm-7">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm border-end-0" [disabled]="true"
                      formControlName="nMovimientoAlmacen">
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search" (click)="openMovimiento();"></i>
                    </span>
                  </div>
                </div>


                <label class="form-label col-sm-5 col-form-label text-end">Tipo de Movimiento</label>
                <div class="col-sm-7 mb-1">
                  <select class="form-control form-control-sm" style="z-index:1000" formControlName="nTipoMovimiento">
                    <option *ngFor="let movimiento of tiposDeMovimientos" [ngValue]="movimiento"> {{ movimiento.cDescripcion }}
                    </option>
                  </select>
                </div>

                <label class="form-label col-sm-5 col-form-label text-end" *ngIf="this.bTraspaso == true">Almacen origen</label>
                <div class="col-sm-7" *ngIf="this.bTraspaso">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm border-end-0"
                      formControlName="cAlmacenOrigen"
                      [ngClass]="{'has-error': form.get('nAlmacenOrigen')?.hasError('required')}"
                      onfocus="this.select()">
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search" (click)="openModalAlmacenesOrigen();"></i>
                    </span>
                  </div>
                </div>
                <label class="form-label col-sm-5 col-form-label text-end">Almacen destino</label>
                <div class="col-sm-7">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm border-end-0"
                      formControlName="cAlmacenDestino"
                      [ngClass]="{'has-error': form.get('nAlmacenDestino')?.hasError('required')}"
                      onfocus="this.select()">
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search" (click)="openModalAlmacenesDestino();"></i>
                    </span>
                  </div>
                </div>
                <label class="form-label col-sm-5 col-form-label text-end">Producto</label>
                <div class="col-sm-7">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm border-end-0" formControlName="cArticulo"
                      [ngClass]="{'has-error': form.get('nArticulo')?.hasError('required')}" onfocus="this.select()">
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search" (click)="openModalArticulos();"></i>
                    </span>
                  </div>
                </div>

                <label class="form-label col-sm-5 col-form-label text-end">Cantidad</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" formControlName="nCantidadMovimiento"
                    currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2 }"
                    onfocus="this.select()" maxlength="20">
                </div>


                <label class="form-label col-sm-5 col-form-label text-end">Costo</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" formControlName="nCosto"
                    currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2 }"
                    onfocus="this.select()" maxlength="20">
                </div>


                <label class="form-label col-sm-5 col-form-label text-end">Observaciones</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" formControlName="cObservaciones" onfocus="this.select()" maxlength="200">
                </div>

              </div>
            </div>

            <div class="col-sm-2"></div>

            <div class="col-sm-5">

              <div class="row mt-4">
                <label class="form-label col-sm-5 col-form-label text-end">Fecha</label>
                <div class="col-sm-7">
                  <input type="date" class="form-control form-control-sm  justify-content-center" id="dFechaRecepcion"
                    onfocus="this.select()" formControlName="dFechaMovimiento" max="{{maxDate | date:'yyyy-MM-dd'}}">
                </div>
              </div>
            </div>
          </div>

        </form>
        <div class="d-flex justify-content-end my-4">
          <button type="button" class="btn btn-warning mx-2" (click)="limpiar()">Limpiar</button>
          <!-- <button type="button" *ngIf="this.nMovimientoAlmacen > 0" class="btn btn-dark mx-2"
            (click)="cancelar()">Eliminar</button> -->
          <button type="button" class="btn btn-primary mx-2" [disabled]="form.invalid || this.nMovimientoAlmacen > 0"
            (click)="guardar()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
