<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Compras</a></li>
    <li class="breadcrumb-item active" aria-current="page">Reportes</li>
  </ol>
</nav>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Compra vs Recepción</h6>
        <form [formGroup]="form">
            <div class="row mt-4">
              <div class="col-sm-5">
                <div class="row">

                  <label class="form-label col-sm-3 col-form-label text-end">Folio compra</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm" formControlName="nCompra">
                    </div>
                  </div>

                  <label class="form-label col-sm-3 col-form-label text-end">Proveedor</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" formControlName="cProveedor">
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search" (click)="openModalProveedores()"></i>
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-3 col-form-label text-end">Almacén</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" formControlName="cAlmacen">
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search" (click)="openModalAlmacenes()"></i>
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-3 col-form-label text-end">Articulo</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" formControlName="cArticulo">
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search" (click)="openModalArticulos()"></i>
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-3 col-form-label text-end">Factura</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm" formControlName="cFactura">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-2"></div>

              <div class="col-sm-5">
                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Desde</label>
                  <div class="col-sm-7">
                    <input type="date" class="form-control form-control-sm" formControlName="dFechaInicio">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Hasta</label>
                  <div class="col-sm-7">
                    <input type="date" class="form-control form-control-sm" formControlName="dFechaFin">
                  </div>

                </div>
              </div>
            </div>
          </form>

          <div class="d-flex justify-content-end my-4">
            <button type="button" class="btn btn-warning mx-2" (click)="limpiar()">Limpiar</button>
              <button type="button" class="btn btn-primary mx-2" (click)="consultar()">Consultar</button>
          </div>

        <div class="table-responsive my-5">
          <table class="table table-bordered">
            <thead>
              <tr >
                <th>Folio</th>
                <th>Factura</th>
                <th>TMF Ticket #</th>
                <th>F. compra</th>
                <th>F. recepción</th>
                <th>Proveedor</th>
                <th>Almacén recepción</th>
                <th>Articulo</th>
                <th>Unidad</th>
                <th>C. comprada</th>
                <th>C. recibida</th>
                <th>Diferencia LTS</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of compras">
              <tr>
                <td>{{ item.nCompra }}</td>
                <td>{{ item.cFactura }}</td>
                <td>{{ item.cTicket }}</td>
                <td>{{ formatoFecha(item.dFechaCompra) }}</td>
                <td>{{ formatoFecha(item.dFechaRecepcion) }}</td>
                <td>{{ item.cProveedor }}</td>
                <td>{{ item.cAlmacen }}</td>
                <td>{{ item.cArticulo }}</td>
                <td>Litros</td>
                <td class="text-end">{{ item.nLitrosCompra | number : '1.2-4' }}</td>
                <td class="text-end">{{ item.nLitrosRecepcion | number : '1.2-4' }}</td>
                <td class="text-end">{{ item.nLitrosCompra - item.nLitrosRecepcion | number : '1.2-4' }}</td>
              </tr>


            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>
