<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Configuración General</a></li>
    <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Usuarios</h4>
        <p class="text-muted">Sección dedicada para el registro de nuevos usuarios en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Usuarios</h6>
          <form  name="usuarioForm" [formGroup]="usuarioForm">

            <div class="row mt-4">
              <div class="col-sm-5">
                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Folio</label>
                  <div class="col-sm-7">
                    <div class="input-group">
                    <input type="text" class="form-control form-control-sm border-end-0" formControlName="idUsuario">
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search" (click)="openModal()"></i>
                    </span>
                  </div>

                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end" >Nombre</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder=""  formControlName="cNombre">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Apellido Paterno</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Apellido Materno</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Login</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Contraseña</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Correo</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                </div>
              </div>

              <div class="col-sm-2"></div>

              <div class="col-sm-5">
                <div class="row">

                  <label class="form-label col-sm-5 col-form-label text-end">Tipo de Usuario</label>
                  <div class="col-sm-7">
                    <select class="form-select  form-control-sm" aria-label="Default select example">
                      <option selected disabled></option>
                      <option value="1">Vendedor</option>
                      <option value="2">Administrativo</option>
                      <option value="3">Gerente</option>
                      <option value="4">Asistente</option>
                    </select>
                  </div>

                </div>
              </div>
            </div>

          </form>
          <div class="d-flex justify-content-end my-4">
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
              <button type="button" class="btn btn-primary mx-2">Guardar</button>
          </div>
      </div>
    </div>
  </div>
</div>
