<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Confirmación de recepción</h6>
        <form name="form" [formGroup]="form">
          <div class="my-4">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <label class="form-label col-sm-4 col-form-label text-end">Litros comprados</label>
                  <div class="col-sm-4">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-sm " currencyMask
                        [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2 }" id="nLitrosComprados"
                        formControlName="nLitrosComprados" maxlength="20">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="row">
                  <label class="form-label col-sm-4 col-form-label text-end">Litros recibidos</label>
                  <div class="col-sm-4">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-sm  " currencyMask
                        [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 2 }" id="nLitrosRecibidos"
                        onfocus="this.select()"
                        [ngClass]="{'has-error': form.get('nLitrosRecibidos')?.hasError('required')}"
                        [ngClass]="{'has-error': form.get('nLitrosRecibidos')?.hasError('min')}"
                        formControlName="nLitrosRecibidos" maxlength="20">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row">
                  <label class="form-label col-sm-4 col-form-label text-end">Fecha recepción</label>
                  <div class="col-sm-4">
                    <div class="input-group">
                      <input type="date" class="form-control form-control-sm  justify-content-center"
                        id="dFechaRecepcion" onfocus="this.select()" formControlName="dFechaRecepcion"
                        min="{{minDate | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row">
                  <label class="form-label col-sm-4 col-form-label text-end">Observaciones</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-lg " formControlName="cObservaciones"
                        maxlength="200">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <table class="table table" *ngIf="compras">
        <thead>
            <tr >
              <th class=" th-border">Nro.Factura</th>
              <th class=" th-border">Fecha de movimiento</th>
              <th class=" th-border">Almacen destino</th>
              <th class=" th-border">Litros comprados</th>
              <th class=" th-border">Litros recibidos previamente</th>
              <th class=" th-border">Litros a recibir</th>
              <th class=" th-border">Litros pendientes de recibir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of compras">
              <td class="th-border">{{ item.cFactura }}</td>
              <td class="th-border">{{ item.dFechaCompra }}</td>
              <th class="th-border">{{ item.cAlmacen }}</th>
              <td class="th-border">{{ item.nlitrosComprados  | number : '1.4-4' }}</td>
              <td class="th-border">{{ item.nlitrosComprados - item.nLitrosPendientes | number : '1.4-4' }}</td>
              <td class="th-border">{{ item.nLitrosPendientes - item.nLitrosRestantes | number : '1.4-4' }}</td>
              <td class="th-border">{{ item.nLitrosRestantes | number : '1.4-4' }}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center my-4">
    <button type="button" class="btn btn-dark mx-2" (click)="close()">Cerrar</button>
    <button type="button" class="btn btn-primary mx-2" [disabled]="form.invalid" (click)="guardar()">Guardar</button>
  </div>
</div>
