<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Control de Flujo</a></li>
    <li class="breadcrumb-item active" aria-current="page">Registro de Egresos</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Egresos</h4>
        <p class="text-muted">Sección dedicada para el Registro de Egresos en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de gasto pagado en efectivo</h6>
          <form>

            <div class="row mt-4">
              <div class="col-sm-5">
            
                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Folio</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" value="0003">
                  </div>
            
                  <label class="form-label col-sm-5 col-form-label text-end">Almacén</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0">
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search"></i>
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Tipo Gasto</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0">
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search"></i>
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Proveedor</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0">
                      <span class="input-group-text border-start-0 bg-white">
                        <i class="feather icon-search"></i>
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">No. Documento</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Monto Neto</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                </div>
              </div>
            
              <div class="col-sm-2"></div>
            
              <div class="col-sm-5">            
                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Registro Actual</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" value="01 - Ene - 2022">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Saldo Actual</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" value="854,300.00">
                  </div>
            
                </div>
              </div>
            </div>

          </form>
          <div class="d-flex justify-content-end my-4">
            <button type="button" class="btn btn-warning mx-2">Limpiar</button>
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
              <button type="button" class="btn btn-primary mx-2">Registrar</button>
          </div>
      </div>
    </div>
  </div>
</div>