<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Control de Flujo</a></li>
    <li class="breadcrumb-item active" aria-current="page">Consulta de Movimientos</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Consulta de Movimientos</h4>
        <p class="text-muted">Sección dedicada para el Consulta de Movimientos en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Consulta de Movimientos</h6>
          <form>

            <div class="row mt-4">
              <div class="col-sm-5">
                <h5><span class="badge bg-primary mb-4">Consulta General de Movimientos (Ingresos/Egresos)</span></h5>

                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Fecha Inicial</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" value="01/01/2022">
                  </div>
                </div>

                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Fecha Final</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" value="06/01/2022">
                  </div>
                </div>

                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Tipo de Movimiento</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm border-end-0" value="Egreso (E)">
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search"></i>
                    </span>
                  </div>
                </div>
                </div>

                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Almacen</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm border-end-0" value="CEDIS CUL">
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search"></i>
                    </span>
                  </div>
                </div>
                </div>

                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Concepto Movto</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm border-end-0" value="insumos de Limpieza">
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search"></i>
                    </span>
                  </div>
                </div>
                </div>

                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Proveedor</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm border-end-0" value="Walmart">
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search"></i>
                    </span>
                  </div>
                </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                  <button type="button" class="btn btn-primary">Consultar</button>
                </div>
              </div>
              <div class="col-sm-2">
                
              </div>
              <div class="col-sm-5">
                <h5><span class="badge bg-primary mb-4">Consulta de Movimiento por Folio para Reimpresionde Ticket</span></h5>
                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Folio a Consultar</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" value="0003">
                  </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                  <button type="button" class="btn btn-primary">Consultar</button>
                </div>
              </div>
            </div>

          </form>
          <div class="d-flex justify-content-end my-4">
            <button type="button" class="btn btn-warning mx-2">Limpiar</button>
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
          </div>
      </div>
    </div>
  </div>
</div>