<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Reportes Directivos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Existencias Globales</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Existencias Globales</h4>
        <p class="text-muted">Sección dedicada para consulta de Existencias Globalese en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Existencias Globales</h6>
          <form>

            <div class="row mt-4">
              <div class="col-sm-5">
                <div class="mb-3">
                  <label class="form-label">Almacen</label>
                  <input type="text" class="form-control" placeholder="" value="Suc Mexicali">
                </div>
                <div class="mb-3">
                  <label class="form-label">Articulo</label>
                  <input type="text" class="form-control" placeholder="" value="UN 1202 DIESEL FUEL">
                </div>                
              </div>
              <div class="col-sm-1">

              </div>
              <div class="col-sm-3 d-flex flex-column justify-content-evenly">
                <div class="form-check mb-2">
                  <input type="checkbox" class="form-check-input" id="checkChecked" checked>
                  <label class="form-check-label" for="checkChecked">
                    Con existencia
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input type="checkbox" class="form-check-input" id="checkChecked" checked>
                  <label class="form-check-label" for="checkChecked">
                    Sin existencia
                  </label>
                </div>
                <div class="form-check mb-2">
                  <input type="checkbox" class="form-check-input" id="checkChecked" checked>
                  <label class="form-check-label" for="checkChecked">
                    Ambos
                  </label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Fecha</label>
                  <input type="text" class="form-control" placeholder="" value="01 - Ene - 2022">
                </div>
              </div>
            </div>

          </form>
          <div class="d-flex justify-content-center my-4">
            <button type="button" class="btn btn-warning mx-2">Limpiar</button>
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
              <button type="button" class="btn btn-primary mx-2">Consultar</button>
          </div>
      </div>
    </div>
  </div>
</div>