<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Pagos Diversos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Consulta de Movimientos</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Consulta de Movimientos</h4>
        <p class="text-muted">Sección dedicada para Consulta de Movimientos registrados en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Consulta de Movimientos</h6>
          <form>

            <div class="row mt-4">
              <div class="col-sm-5">
                <div class="row">
            
                  <label class="form-label col-sm-5 col-form-label text-end">Proveedor</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" value="Catalogo Proveedores">
                      <span class="input-group-text border-start-0 bg-white">
                        <img class="icon-search" src="/assets/images/search.svg">
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Concepto</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" value="Catalogo Conceptos">
                      <span class="input-group-text border-start-0 bg-white">
                        <img class="icon-search" src="/assets/images/search.svg">
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Fecha Inicio</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" value="01 - Ene - 2022">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Fecha Fin</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" value="15 - Ene - 2022">
                  </div>

                  <div class="d-flex mt-3 justify-content-end">
                    <button type="button" class="btn btn-primary mx-2">Consultar</button>
                  </div>
                </div>
              </div>
            
              <div class="col-sm-2"></div>
            
              <div class="col-sm-5"></div>
            </div>


          </form>
          <div class="d-flex justify-content-end my-4">
            <button type="button" class="btn btn-dark mx-2">Cancelar</button>
          </div>
      </div>
    </div>
  </div>
</div>