<div class="row w-100 mx-0 auth-page">
  <div class="col-md-6 col-xl-4 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-12 px-sm-3 px-md-5">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2">Hidro<span>carburos</span></a>
            <h5 class="text-muted fw-normal mb-4">Bienvenido! conectate a tu cuenta.</h5>
            <form class="forms-sample">
              <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="USUARIO">
              </div>
              <div class="mb-4">
                <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" placeholder="**********">
              </div>
              <div class="d-flex flex-column">
                <button type="submit" class="btn btn-primary mb-2 mb-md-0" (click)="onLoggedin($event)">CONECTAR</button>
              </div>
              <a class="d-block mt-3 text-muted">¿Has olvidado tu contraseña?</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>