<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Configuración General</a></li>
    <li class="breadcrumb-item active" aria-current="page">Almacenes</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Almacenes</h4>
        <p class="text-muted">Sección dedicada para el registro de nuevos almacenes en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Almacenes</h6>
          <form>

            <div class="row mt-4">
              <div class="col-sm-5">
                <div class="row">
                  <label class="form-label col-sm-5 col-form-label text-end">Folio</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Descripción</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Domicilio</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" placeholder="">
                  </div>
            
                  <label class="form-label col-sm-5 col-form-label text-end">Sucursal</label>
                  <div class="col-sm-7">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-sm border-end-0">
                      <span class="input-group-text border-start-0 bg-white">
                        <img class="icon-search" src="/assets/images/search.svg">
                      </span>
                    </div>
                  </div>
            
                </div>
              </div>
            
              <div class="col-sm-2"></div>
            
              <div class="col-sm-5"></div>
            </div>

          </form>
          <div class="d-flex justify-content-end my-4">
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
              <button type="button" class="btn btn-primary mx-2">Guardar</button>
          </div>
      </div>
    </div>
  </div>
</div>