<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Configuración General</a></li>
    <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Usuarios</h4>
        <p class="text-muted">Sección dedicada para el registro de nuevos usuarios en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Usuarios</h6>
          <form>

            <div class="row mt-4">
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Folio</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Nombre</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Apellido Paterno</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Apellido Materno</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Login</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Contraseña</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Correo</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Tipo de Usuario</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected disabled></option>
                    <option value="1">Vendedor</option>
                    <option value="2">Administrativo</option>
                    <option value="3">Gerente</option>
                    <option value="4">Asistente</option>
                  </select>
                </div>
              </div>
            </div>

          </form>
          <div class="d-flex justify-content-center my-4">
            <button type="button" class="btn btn-warning mx-2">Limpiar</button>
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
              <button type="button" class="btn btn-primary mx-2">Guardar</button>
          </div>
      </div>
    </div>
  </div>
</div>