<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Configuración General</a></li>
    <li class="breadcrumb-item active" aria-current="page">Proveedores</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Proveedores</h4>
        <p class="text-muted">Sección dedicada para el registro de nuevos proveedores en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Proveedor</h6>
          <form>

            <div class="my-4">
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="radioInline" id="radioInline" checked>
                <label class="form-check-label" for="radioInline">
                  Fisica
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="radioInline" id="radioInline1">
                <label class="form-check-label" for="radioInline1">
                  Moral
                </label>
              </div>
            </div>
            
            <div class="row">
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Razón Social</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Nombre Comercial</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Nombre</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Apellido Paterno</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">Apellido Meterno</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">RFC</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">CURP</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">¨Telefono</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Celular</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Nacionalidad</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Contacto</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Estado</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Municipio</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label class="form-label">Colonia</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-9">
                <div class="mb-3">
                  <label class="form-label">Dirección</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mb-3">
                  <label class="form-label">CP</label>
                  <input type="text" class="form-control" placeholder="Text">
                </div>
              </div>
            </div>

          </form>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-warning mx-2">Limpiar</button>
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
              <button type="button" class="btn btn-primary mx-2">Guardar</button>
          </div>
      </div>
    </div>
  </div>
</div>