<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Busqueda de movimiento de almacen</h5>

</div>
<div class="modal-body">
  <input type='text' matInput placeholder='Buscar de movimiento de almacen' (keyup)='filterDatatable($event)' [(ngModel)]="valueBuscador">
  <ngx-datatable class="material shadow-none" [rows]="data" [loadingIndicator]="loadingIndicator"
    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable"
    [limit]="10" [scrollbarH]="true" (activate)="onClick($event)">
    <ngx-datatable-column name="Id. Proveedor" prop="nProveedor" [width]="80"></ngx-datatable-column>
    <ngx-datatable-column name="Razon Social/Nombre" prop="cDescripcion" ></ngx-datatable-column>
    <ngx-datatable-column name="RFC" prop="cRFC" ></ngx-datatable-column>
   <!--  <ngx-datatable-column name="Persona física" prop="bPersonaFisica" ></ngx-datatable-column>
 -->
  </ngx-datatable>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">
    Cerrar
  </button>
  <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
</div>

