<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Cancelación de recepción de compra</h6>
        <form name="form" [formGroup]="form">
          <div class="my-4">
            <div class="col-sm-12">
              <div class="row">
                <label class="form-label col-sm-4 col-form-label text-end">Motivo de cancelación</label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-lg "
                    formControlName="cMotivoCancelacion">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center my-4">
    <button type="button"  class="btn btn-dark mx-2"
      (click)="close()">Cerrar</button>
    <button type="button" class="btn btn-primary mx-2" [disabled]="form.invalid"
      (click)="guardar()">Guardar</button>
  </div>
</div>

