<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Pagos Diversos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Registro de Costos Indirectos</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Egresos</h4>
        <p class="text-muted">Sección dedicada para el Registro de Costos Indirectos en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Registro de Costos Indirectos</h6>
          <form>

            <div class="row mt-4">
              <div class="col-sm-5">
                <div class="row">
            
                  <label class="form-label col-sm-5 col-form-label text-end">Proveedor</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" value="COMBUSTIBLES RIO C">
                      <span class="input-group-text border-start-0 bg-white">
                        <img class="icon-search" src="/assets/images/search.svg">
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Monto a abonar $</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" value="$$$$">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Forma de Pago</label>
                  <div class="col-sm-7">
                    <div class="input-group mb-1">
                      <input type="text" class="form-control form-control-sm border-end-0" value="EFE / TRANSF / CHEQUE">
                      <span class="input-group-text border-start-0 bg-white">
                        <img class="icon-search" src="/assets/images/search.svg">
                      </span>
                    </div>
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">No. Doct</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" value="1234">
                  </div>

                  <label class="form-label col-sm-5 col-form-label text-end">Saldo Pendiente</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" value="$$$$">
                  </div>
            
                </div>
              </div>
            
              <div class="col-sm-2"></div>
            
              <div class="col-sm-5">
                <div class="row">
            
                  <label class="form-label col-sm-5 col-form-label text-end">Fecha Registro</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control form-control-sm" value="01 - Ene - 2022">
                  </div>
                    
                </div>
              </div>
            </div>

          </form>

          <div class="table-responsive my-5">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Documento</th>
                  <th>Concepto</th>
                  <th>Fecha Fact</th>
                  <th>Valor Factura</th>
                  <th>Abonado</th>
                  <th>Forma Pago</th>
                  <th>Fecha Abono</th>
                  <th>Saldo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>A-145</td>
                  <td>Flete</td>
                  <td>01/01/2022</td>
                  <td>$ 150,000.00</td>
                  <td>$ 60,000.00</td>
                  <td>Transfer</td>
                  <td>10/01/2022</td>
                  <td>$ 90,000.00</td>
                </tr>
                <tr>
                  <td>A-145</td>
                  <td>Cruce</td>
                  <td>15/02/2022</td>
                  <td>$ 110,000.00</td>
                  <td>$ 30,000.00</td>
                  <td>Cheque</td>
                  <td>15/02/2022</td>
                  <td>$ 80,000.00</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-end my-4">
            <button type="button" class="btn btn-dark mx-2">Cancelar</button>
            <button type="button" class="btn btn-primary mx-2">Abonar</button>
          </div>
      </div>
    </div>
  </div>
</div>