<div class="main-wrapper">

  <!-- ---------- Sidebar ---------- -->
  <app-sidebar></app-sidebar>

  <div class="page-wrapper">

    <!-- ---------- Navbar ---------- -->
    <app-navbar></app-navbar>

    <div class="page-content">

      <!-- ---------- Loader ---------- -->
      <div *ngIf="isLoading" class="spinner-wrapper">
        <div class="spinner">Loading...</div>
      </div>

      <div contentAnimate *ngIf="!isLoading">
        <!-- ---------- General Router ---------- -->
        <router-outlet></router-outlet>
      </div>

    </div>

    <!-- ---------- Footer ---------- -->
    <app-footer></app-footer>
  </div>
</div>