<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Configuración General</a></li>
    <li class="breadcrumb-item active" aria-current="page">Transp. Fletes</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Paqueterias</h4>
        <p class="text-muted">Sección dedicada para nuevas paqueterias en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Paqueterias</h6>
          <form>

            <div class="row mt-4">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Folio</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Descripción</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Teléfono</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Contacto</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Correo</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>

          </form>
          <div class="d-flex justify-content-center my-4">
            <button type="button" class="btn btn-warning mx-2">Limpiar</button>
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
              <button type="button" class="btn btn-primary mx-2">Guardar</button>
          </div>
      </div>
    </div>
  </div>
</div>