<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Venta</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ticket de Entrega de Producto</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ticket de Entrega de Producto</h4>
        <p class="text-muted">Sección dedicada para Ticket de Entrega de Producto en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Ticket de Entrega de Producto</h6>
          <form>
            
            <div class="row">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Folio</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Folio de Venta</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Factura</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Fecha</label>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Origen</label>
                  <input type="text" class="form-control" placeholder="" >
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Destino</label>
                  <input type="text" class="form-control" placeholder="" 
                  >
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Vendedor</label>
                  <input type="text" class="form-control" placeholder="" 
                  >
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Chofer</label>
                  <input type="text" class="form-control" placeholder="" 
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Equipo</label>
                  <input type="text" class="form-control" placeholder="" >
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Placas</label>
                  <input type="text" class="form-control" placeholder="" 
                  >
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Encargado</label>
                  <input type="text" class="form-control" placeholder="" 
                  >
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Producto</label>
                  <input type="text" class="form-control" placeholder="" >
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Cantidad Env (Lts)</label>
                  <input type="text" class="form-control" placeholder="" 
                  >
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Cantidad Rec (Lts)</label>
                  <input type="text" class="form-control" placeholder="" 
                  >
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Observaciones</label>
                  <input type="text" class="form-control" placeholder="" 
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Total a Pagar</label>
                  <input type="text" class="form-control" placeholder="" 
                  >
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Anticipo</label>
                  <input type="text" class="form-control" placeholder="" >
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Forma de Pago</label>
                  <input type="text" class="form-control" placeholder="" 
                  >
                </div>
              </div>

            </div>

          </form>

          
        <div class="table-responsive my-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Folio</th>
                <th>Folio Venta</th>
                <th>No. Factura</th>
                <th>Fecha Envío</th>
                <th>Código</th>
                <th>Artículo</th>
                <th>Descripción</th>
                <th>Unidad</th>
                <th>C. Enviada</th>
                <th>C. Recibida</th>
                <th>Pagado</th>
                <th>Forma Pago</th>
                <th>Saldo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              
            </tbody>
          </table>
        </div>

          <div class="d-flex justify-content-center my-4">
            <button type="button" class="btn btn-warning mx-2">Limpiar</button>
              <button type="button" class="btn btn-dark mx-2">Cancelar</button>
              <button type="button" class="btn btn-primary mx-2">Guardar</button>
          </div>
      </div>
    </div>
  </div>
</div>