<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Venta</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ticket de Entrega de Producto</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ticket de Entrega de Producto</h4>
        <p class="text-muted">Sección dedicada para Ticket de Entrega de Producto en el sistema, recuerda llenar todos
          los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Ticket de Entrega de Producto</h6>
        <form>

          <div class="row  mt-4">
            <div class="col-md">
              <div class="row mb-3">
                <label class="form-label col-sm-5 col-form-label text-end">Folio</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="row mb-3">
                <label class="form-label col-sm-5 col-form-label text-end">Folio Venta</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="row mb-3">
                <label class="form-label col-sm-5 col-form-label text-end">Factura</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="row mb-3">
                <label class="form-label col-sm-5 col-form-label text-end">Fecha</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">

              <div class="row">

                <label class="form-label col-sm-5 col-form-label text-end">Origen</label>
                <div class="col-sm-7">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm border-end-0">
                    <span class="input-group-text border-start-0 bg-white">
                      <img class="icon-search" src="/assets/images/search.svg">
                    </span>
                  </div>
                </div>
                <label class="form-label col-sm-5 col-form-label text-end">Vendedor</label>
                <div class="col-sm-7">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm border-end-0">
                    <span class="input-group-text border-start-0 bg-white">
                      <img class="icon-search" src="/assets/images/search.svg">
                    </span>
                  </div>
                </div>
                <label class="form-label col-sm-5 col-form-label text-end">Chofer</label>
                <div class="col-sm-7">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm border-end-0">
                    <span class="input-group-text border-start-0 bg-white">
                      <img class="icon-search" src="/assets/images/search.svg">
                    </span>
                  </div>
                </div>
                <label class="form-label col-sm-5 col-form-label text-end">Equipo</label>
                <div class="col-sm-7">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm border-end-0">
                    <span class="input-group-text border-start-0 bg-white">
                      <img class="icon-search" src="/assets/images/search.svg">
                    </span>
                  </div>
                </div>


                <label class="form-label col-sm-5 col-form-label text-end">Placas</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="">
                </div>
              </div>
            </div>

            <div class="col-sm-2"></div>

            <div class="col-sm-5">
              <div class="row">

                <label class="form-label col-sm-5 col-form-label text-end">Destino</label>
                <div class="col-sm-7">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm border-end-0">
                    <span class="input-group-text border-start-0 bg-white">
                      <img class="icon-search" src="/assets/images/search.svg">
                    </span>
                  </div>
                </div>

                <label class="form-label col-sm-5 col-form-label text-end">Encargado</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="">
                </div>

              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-sm-5">

              <div class="row">

                <label class="form-label col-sm-5 col-form-label text-end">Producto</label>
                <div class="col-sm-7">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm border-end-0">
                    <span class="input-group-text border-start-0 bg-white">
                      <img class="icon-search" src="/assets/images/search.svg">
                    </span>
                  </div>
                </div>

                <label class="form-label col-sm-5 col-form-label text-end">Cantidada Env (Lts)</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="">
                </div>

                <label class="form-label col-sm-5 col-form-label text-end">Cantidada Rec (Lts)</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="">
                </div>

                <label class="form-label col-sm-5 col-form-label text-end">Total a Pagar</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="">
                </div>

                <label class="form-label col-sm-5 col-form-label text-end">Anticipo</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="">
                </div>

                <label class="form-label col-sm-5 col-form-label text-end">Forma de Pago</label>
                <div class="col-sm-7">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control form-control-sm border-end-0">
                    <span class="input-group-text border-start-0 bg-white">
                      <img class="icon-search" src="/assets/images/search.svg">
                    </span>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-sm-2"></div>

            <div class="col-sm-5">
              <div class="row">
                <label class="form-label col-sm-5 col-form-label text-end">Observaciones</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="">
                </div>

              </div>
            </div>
          </div>

        </form>

        <div class="table-responsive my-5">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Folio</th>
                <th>Folio Venta</th>
                <th>No. Factura</th>
                <th>Fecha Envío</th>
                <th>Código</th>
                <th>Artículo</th>
                <th>Descripción</th>
                <th>Unidad</th>
                <th>C. Enviada</th>
                <th>C. Recibida</th>
                <th>Pagado</th>
                <th>Forma Pago</th>
                <th>Saldo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="d-flex justify-content-end my-4">
          <button type="button" class="btn btn-warning mx-2">Limpiar</button>
          <button type="button" class="btn btn-dark mx-2">Cancelar</button>
          <button type="button" class="btn btn-primary mx-2">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>