<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Configuración General</a></li>
    <li class="breadcrumb-item active" aria-current="page">Choferes</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<!-- <div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Choferes</h4>
        <p class="text-muted">Sección dedicada para el registro de nuevos choferes en el sistema, recuerda llenar todos
          los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div> -->

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Formulario de Choferes</h6>
        <form [formGroup]="form">

          <div class="row mt-4">
            <div class="col-sm-5">
              <div class="row">
                <label class="form-label col-sm-5 col-form-label text-end">Folio</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm" placeholder="" formControlName="nChofer">
                    <span class="input-group-text border-start-0 bg-white">
                      <i class="feather icon-search" (click)="openModal()"></i>
                    </span>
                  </div>
                </div>
                <label class="form-label col-sm-5 col-form-label text-end">RFC </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="" formControlName="cRFC">
                </div>
                <label class="form-label col-sm-5 col-form-label text-end">Nombre </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm"
                    [ngClass]="{'has-error': form.get('cNombre')?.hasError('required')}" placeholder=""
                    formControlName="cNombre">
                </div>

                <label class="form-label col-sm-5 col-form-label text-end">Apellido Paterno </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm"
                    [ngClass]="{'has-error': form.get('cApellidoPaterno')?.hasError('required')}" placeholder=""
                    formControlName="cApellidoPaterno">
                </div>

                <label class="form-label col-sm-5 col-form-label text-end">Apellido Materno</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder=""
                    formControlName="cApellidoMaterno">

                </div>

                <label class="form-label col-sm-5 col-form-label text-end">No. Licencia </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder=""
                    formControlName="cLicencia">
                </div>

                <label class="form-label col-sm-5 col-form-label text-end">Antiguedad</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control form-control-sm" placeholder="" formControlName="nAntiguedad">
                </div>

                <label class="form-label col-sm-5 col-form-label text-end">CIA (Fletera)</label>
                <div class="col-sm-7">
                  <select class="form-control form-control-sm" formControlName="nFletera"
                    [ngClass]="{'has-error': form.get('nFletera')?.hasError('required')}">
                    <option [value]="''">Seleccione ...</option>
                   <option *ngFor="let item of this.fleteras" [ngValue]="item.nFletera">{{ item.cDescripcion }}</option> 
                  </select>
                </div>

              </div>
            </div>

            <div class="col-sm-2"></div>

            <div class="col-sm-5"></div>
          </div>

        </form>
        <div class="d-flex justify-content-end my-4">
          <button type="button" class="btn btn-warning mx-2" (click)="limpiar()">Limpiar</button>
          <button *ngIf="this.nChofer > 0"  type="button" class="btn btn-danger mx-2" (click)="eliminar()" >Eliminar</button>
          <button type="button" class="btn btn-primary mx-2" [disabled]="form.invalid" (click)="guardar()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
