<!-- ---------- Breadcrumb ---------- -->
<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Configuración General</a></li>
    <li class="breadcrumb-item active" aria-current="page">Perfiles</li>
  </ol>
</nav>

<!-- ---------- Section description ---------- -->
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registro de Perfiles</h4>
        <p class="text-muted">Sección dedicada para el registro de nuevos perfiles en el sistema, recuerda llenar todos los campos requeridos y asi podras guardar la información.</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------- Form ---------- -->
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Agregar Perfiles de Usuario</h6>
          <form>

            <div class="row mt-4">
              <div class="col-md-6 offset-md-3">
                <div class="mb-3">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <button class="btn btn-outline-secondary" type="button">Agregar</button>
                    <button class="btn btn-outline-secondary" type="button">Borrar</button>
                  </div>
                </div>

                <ul class="list-group">
                  <li class="list-group-item disabled" aria-disabled="true">Descripción</li>
                  <li class="list-group-item">Vendedor</li>
                  <li class="list-group-item">Administrativo</li>
                  <li class="list-group-item">Gerente</li>
                  <li class="list-group-item">Asistente</li>
                </ul>
              </div>
            </div>

          </form>
      </div>
    </div>
  </div>
</div>